* {
    box-sizing: border-box;
}


body {
    margin: 0;
    min-height: 100vh;

    font-family: Arial, sans-serif;

    background: #eef3f7;

    padding: 35px;
}




#main-container {
    width: 1200px;

    margin: auto;

    display: flex;

    gap: 25px;

    align-items: flex-start;
}


#form-container {
    width: 400px;

    padding: 25px;

    background: white;

    border: 1px solid #d7e0e7;

    border-radius: 10px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
}


#form-container h1 {
    text-align: center;

    color: #2f4858;

    font-size: 24px;

    margin: 0 0 5px 0;
}


.subtitle {
    text-align: center;

    color: #7a8793;

    font-size: 13px;

    margin-bottom: 22px;
}


label {
    display: block;

    color: #34495e;

    font-size: 14px;

    font-weight: bold;

    margin-bottom: 6px;
}



.error {
    color: red;

    font-size: 13px;

    margin: 3px 0 12px 0;
}



.buttons {
    display: flex;

    justify-content: center;

    gap: 10px;

    margin-top: 15px;
}


.submit-btn,
.clear-btn {
    width: 80px;

    padding: 7px;

    border: none;

    border-radius: 5px;

    font-size: 13px;

    font-weight: bold;

    
}


.submit-btn {
    background: #416b8a;

    color: white;
}


.submit-btn:hover {
    background: #345873;
}


.clear-btn {
    background: #e1e6eb;

    color: #34495e;
}


.clear-btn:hover {
    background: #ccd4db;
}




#content-list {
    width: 775px;

    padding: 25px;

    background: white;

    border: 1px solid #d7e0e7;

    border-radius: 10px;

    

    
}


#content-list h1 {
    text-align: center;

    color: #2f4858;

    font-size: 24px;

    margin: 0 0 20px 0;
}

table {
    width: 100%;

    border-collapse: collapse;

    background: white;
}


th {
    background: #416b8a;

    color: white;

    padding: 9px;

    text-align: center;
}


td {
    padding: 8px;

    text-align: center;

    border: 1px solid #d7e0e7;

    color: #34495e;
}



a {
    color: #d9534f;

    text-decoration: none;

    font-weight: bold;
}


.moderator-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.moderator-buttons a {
    text-decoration: none;
}

.moderator-buttons button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.moderator-buttons a:first-child button {
    background-color: #3498db;
    color: white;
}

.moderator-buttons a:last-child button {
    background-color: #e74c3c;
    color: white;
}